# ==============================
# ENV (секреты)
# ==============================
.env
.env.*
!.env.example

# ==============================
# Python
# ==============================
__pycache__/
*.pyc
*.pyo
*.pyd

# ==============================
# Virtual env
# ==============================
.venv/
venv/
env/

# ==============================
# IDE
# ==============================
.vscode/
.idea/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Docker
# ==============================
*.env.local
docker-compose.override.yml